---
layout: page
title: Bookmarks
permalink: /bookmarks/
order: 1
---

<div class="home">

  <p>Useful bookmarks related to privacy and security.

  <ul class="event-list">
    {% for bookmark in site.data.bookmarks %}
    <li>
      <a href="{{ bookmark.href }}">{{ bookmark.title }}</a>
      <span class="post-meta">
        {% for tag in bookmark.tags %}
        <span>[{{ tag }}]</span>
        {% endfor %}
      </span>
      </br>
      {{ bookmark.desc }}
    </li>
    {% endfor %}
  </ul>

</div>
