---
layout: page
title: Posts
permalink: /posts/
order: 1
---

<div class="home">

  <p>Posts.</p>


  <ul class="event-list">
    {% for post in site.data.posts %}
    <li>
      <a href="{{ post.href }}">{{ post.title }}</a>
      <span class="post-meta">
        {% for tag in post.tags %}
        <span>[{{ tag }}]</span>
        {% endfor %}
        •
        started: {{ post.dateStart | date: "%Y" }}
        •
        {{ post.status}}
        {% if post.hn %}
        • see <a href="{{ post.hn }}">HN discussion</a>
        {% endif %}
      </span>
      </br>
      {{ post.desc }}
    </li>
    {% endfor %}
  </ul>

</div>
