<footer class="site-footer">

  <div class="wrapper">

    <div class="footer-col-wrapper">

      <div class="footer-col footer-col-2">
        <ul class="contact-list">
          <li>Signal {{ site.phone }}</li>
          <li><a href="{{ site.publickey }}">PGP {{ site.shortid }}</a></li>
          <li><a href="{{ site.url }}">{{ site.url }}</a></li>

        </ul>
        <ul class="social-media-list">
          <li>
            {% include icon-github.html username=site.usernames.github %}
          </li>
          <li>
            {% include icon-twitter.html username=site.usernames.twitter %}
          </li>
        </ul>
      </div>

      <div class="footer-col footer-col-3">
        <p>Dan Kir - Don't trust. Verify.</p>

        <script type="text/javascript">
          var userip;
        </script>

        <p>Your IP address</p>
        <script type="text/javascript" src="https://l2.io/ip.js?var=userip"></script>
        <strong>
        <script type="text/javascript">
          document.write("", userip);
        </script>
        </strong>

        <p>Your browser fingerprint<br /><strong id="browserFingerprint"></strong></p>
        <p>Your device fingerprint<br /><strong id="deviceFingerprint"></strong></p>

        <script type="application/javascript" src="https://api.ipify.org?format=jsonp&callback=getIP"></script>

        <script type="text/javascript" src="dist/imprint.min.js"></script>

        <script type="text/javascript">

          var browserTests = [
              "audio",
              "availableScreenResolution",
              "canvas",
              "colorDepth",
              "cookies",
              "cpuClass",
              "deviceDpi",
              "doNotTrack",
              "indexedDb",
              "installedFonts",
              "language",
              "localIp",
              "localStorage",
              "pixelRatio",
              "platform",
              "plugins",
              "processorCores",
              "screenResolution",
              "sessionStorage",
              "timezoneOffset",
              "touchSupport",
              "userAgent",
              "webGl"
            ];

          console.time('getImprint 1');
          imprint.test(browserTests).then(function(result){
            console.timeEnd('getImprint 1');
            document.getElementById("browserFingerprint").innerHTML = result;
          });

          var deviceTests = [
              "audio",
              "colorDepth",
              "cpuClass",
              "deviceDpi",
              "localIp",
              "platform",
              "installedFonts",
              "processorCores",
              "publicIp",
              "screenResolution",
              "timezoneOffset"
            ];

          console.time('getImprint 2');
          imprint.test(deviceTests).then(function(result){
            console.timeEnd('getImprint 2');
            document.getElementById("deviceFingerprint").innerHTML = result;
          });

        </script>

      </div>

    </div>

  </div>

  <script async defer src="https://buttons.github.io/buttons.js"></script>

</footer>
